.card-occaz.summary pre{
    max-height: 100px;
    overflow-y: hidden;
}

.card-occaz.summary footer{
    display:none;
}


.card-occaz .show-all{
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.card-occaz pre{
    max-height: 300px;
}